

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-7">

            <h2 class="mb-4">@ViewBag.Title</h2>



                <div class="p-4 border rounded shadow-sm bg-light">

                    <h4 class="mb-3">Datos del Repuesto</h4>
                    <hr />

                    <div class="mb-3">
                        <label>Cliente</label>
                        <input>

                    </div>

                    <div class="mb-3">
                        <label>Fecha</label>
                        <input>
                    </div>

                    <div class="mb-3">
                        <label>Subtotal</label>
                        <input>
                    </div>

                    <div class="mb-3">
                        <label>Impuestos</label>
                        <input disabled>
                    </div>

                    <div class="mb-3">
                        <label>Total</label>
                        <input disabled>
                    </div>


                    <div class="d-grid gap-2 mt-4">
                        <input type="submit" value="Guardar Cambios" class="btn btn-success btn-lg" />
                    </div>
                </div>
            

            <div class="mt-3">
                @Html.ActionLink("Volver a la Lista", "ListarPedido", null, new { @class = "btn btn-secondary btn-sm" })
            </div>
        </div>
    </div>
</div>

